ion-content {
    --ion-background-color: #1C225D!important;
}

.div {
    text-align: center;
    color: #EB5E20;
    font-size: 27px;
}

.ipark {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    text-decoration: none;
    float: left;
}

.ipdf {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    text-decoration: none;
    float: right;
}

.labelt {
    text-align: center;
    color: #8BCD06;
    font-size: 15px;
}

ion-input {
    margin-left: 30px;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: 3px solid #8BCD06!important;
    color: #EB5E20;
}

ion-select {
    margin-left: 30px;
    width: 300px;
    height: 45px;
    border-radius: 15px;
    border: 3px solid #8BCD06!important;
    color: #EB5E20;
}

ion-datetime {
    margin-left: 15px;
    width: 300px;
    height: 45px;
    border-radius: 15px;
    border: 3px solid #8BCD06!important;
    color: #EB5E20;
}

.buttond {
    width: 300px;
    margin-left: 30px;
    text-align: left;
    border-radius: 15px;
    --background: #1C225D!important;
    color: #EB5E20!important;
    border: 3px solid #8BCD06!important;
}

.buttonf {
    width: 300px;
    margin-left: 30px;
    text-align: left;
    border-radius: 15px;
    --background: #1C225D!important;
    color: #EB5E20!important;
    border: 3px solid #8BCD06!important;
}

.terminos {
    margin: 0 1%;
    text-align: center;
}

.termcond {
    color: #8BCD06;
    font-style: inherit;
    font-size: 12px;
}

.check {
    border: 3px solid #8BCD06!important;
}

.buttonr {
    width: 50%;
    margin-left: 90px;
    text-align: left;
    border-radius: 15px;
    --background: #1C225D!important;
    color: #EB5E20!important;
    border: 3px solid #8BCD06!important;
}

.ivolver {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}