<ion-content>
    <br>
    <ion-img src="assets/logop.PNG"></ion-img>
    <br>
    <form>
        <ion-toolbar>
            <ion-button class="buttons">
                Registrarme <br> como Usuario
            </ion-button>
        </ion-toolbar>
        <ion-toolbar>
            <ion-button class="buttons">
                Registrar <br> mi parqueadero
            </ion-button>
        </ion-toolbar>
        <ion-toolbar>
            <ion-button class="bvolver">
                Volver
            </ion-button>
        </ion-toolbar>
    </form>
</ion-content>