<ion-content>
    <br>
    <ion-img src="assets/logop.PNG"></ion-img>
    <br>
    <form>
        <br>
        <ion-toolbar>
            <ion-button routerLink="/registrouser" size="big" shape="round" expand="block" class="buttons">
                Registrarme <br> como Usuario
            </ion-button>
        </ion-toolbar>
        <br><br><br>
        <ion-toolbar>
            <ion-button routerLink="/registropark" size="big" shape="round" expand="block" class="buttons">
                Registrar <br> mi parqueadero
            </ion-button>
        </ion-toolbar>
        <ion-toolbar>
            <br><br><br>
            <ion-button routerLink="/login" size="big" shape="round" expand="block" class="bvolver">
                Volver
            </ion-button>
        </ion-toolbar>
    </form>
</ion-content>