<ion-content>
    <form>
        <br>
        <ion-title>Bienvenid@ Admistrador</ion-title>
        <br>
        <ion-toolbar class="guno">
            <img slot="start" src="assets/descuento.png">
            <img slot="end" src="assets/equipo.png">
        </ion-toolbar>
        <ion-toolbar class="luno">
            <ion-label>Códigos <br> Promocionales</ion-label>
            <ion-label>Usuarios</ion-label>
        </ion-toolbar>
        <br>
        <ion-toolbar class="gdos">
            <img src="assets/aparcamiento.png">
            <ion-label>Parqeaderos</ion-label>
            <img src="assets/diagrama.png">
            <ion-label>Informes</ion-label>
        </ion-toolbar>
        <br>
        <ion-toolbar class="gtres">
            <img src="assets/charla.png">
            <ion-label>Comentarios</ion-label>
            <img src="assets/queja.png">
            <ion-label>Quejas y <br> Novedades</ion-label>
        </ion-toolbar>
        <br>
        <ion-toolbar class="gcuatro">
            <img src="assets/estrellas.png">
            <ion-label>Calificación de <br> Servicios</ion-label>
        </ion-toolbar>
    </form>
</ion-content>